services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "80"
    restart: unless-stopped
    networks:
      - cloudflare_default
    container_name: zip-hider

networks:
  cloudflare_default:
    external: true
